<div class="grid-container">
  <div class="grid-item">
    <div class="product-card">
  <img src="{{produit.image}}" alt="${product.name}">
  <div class="product-card-body">
    <h3 class="product-card-title">
      {{produit.name}}
    </h3>
    <p class="product-card-description">

    </p>

    <span class="promo-badge"> {{produit.promo ? produit.promoVal : ""}} </span>
    <span class="product-card-price">  {{produit.price}}</span>
    <div>

    </div>
  </div>
</div>

  </div>
    <div class="grid-item">
    test 1
  </div>
    <div class="grid-item">
    test 1
  </div>
    <div class="grid-item">
    test 1
  </div>
    <div class="grid-item">
    test 1
  </div>
    <div class="grid-item">
    test 1
  </div>
</div>
