<div class="grid-container">
  <div class="grid-item">
    <div [class.product-card]="true" [style.font-size.px]="20" style="font-size: 10px;">
  <img [src]="produit.image" [alt]="produit.name" title="product">
  <div class="product-card-body">
    <h3 class="product-card-title">
      {{produit.name}}
    </h3>
    <p class="product-card-description">

    </p>

    <!-- <span class="promo-badge"> {{produit.promo ? produit.promoVal : ""}} </span> -->
    <span *ngIf="isPromo(produit);else noPromo" class="promo-badge"> {{produit.promo ? produit.promoVal : ""}} </span>
    <ng-template #noPromo></ng-template>

    <span class="product-card-price">  {{produit.price}}</span>
    <div>

    </div>
  </div>
</div>

  </div>
    <div class="grid-item">
    test 1
  </div>
    <div class="grid-item">
    test 1
  </div>
    <div class="grid-item">
    test 1
  </div>
    <div class="grid-item">
    test 1
  </div>
    <div class="grid-item">
    test 1
  </div>
</div>

<!--
Si n'est pas égal à false on met
 if(produit.promo=!false){
  <span *ngIf="produit.promo" class="promo-badge">Promo:{{produit.promoVal}}% off </span>
}
Si c'est égal on mets rien du tout
-->


